<div class="container" >

        <form >

        <h1>Group Creation Form</h1>
        <div class="group-name">
            <div class="group-name-l">
                <label>Enter the group name</label>
            </div>
            <input class="group-name-input" type="text" name="group-name" placeholder="Enter the group name" />
        </div>


        <div class="description">
            <div class="description-l">

                <label>Enter the description</label>
            </div>

            <textarea placeholder="Enter the Description" rows="10" cols="30" type="text" name="description"  >
                </textarea>
        </div>

        <button>
            Create Group
        </button>

        </form>

</div>
